<?xml version="1"?>

<launch>

  <!-- Use robot_pose_ekf to fuse odom + IMU -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
    <param name="output_frame" value="odom" />
    <param name="base_footprint_frame" value="base_link" />
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="accelerometer_used" value="false"/>
    <param name="magnetometer_used" value="false"/>
    <remap from="imu_data" to="/imu/data" />
  </node>

  <!--  ************** Navigation ***************  -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find limo_bringup)/param/4wd/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find limo_bringup)/param/4wd/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find limo_bringup)/param/4wd/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find limo_bringup)/param/4wd/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find limo_bringup)/param/4wd/move_base_params.yaml" command="load" />
    <rosparam file="$(find limo_bringup)/param/4wd/base_local_planner_params.yaml" command="load" />

</node>

</launch>
